# docker compose --file .\docker\docker-compose.yml up --build

services:
  front:
    build: .
    working_dir: ${DIR}
    command:
      - /bin/bash
      - -c
      - "npm install -g @angular/cli@20.1.0 && \
         npm install && \
         ng serve --host=0.0.0.0 --poll 2000"
    volumes:
      - "../:${DIR}"
    ports:
      - "4200:4200"