<div class="flexed">
    <div class="width30 column-flexed">
        <div class="grow1 padbr">
            <mat-card class="height100">
                <mat-card-content>
                    premiacoes
                </mat-card-content>
            </mat-card>
        </div>
        <div class="padbr">
            <mat-card>
                <mat-card-content>
                    jogando
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="width70">
        <div class="padb">
            <mat-card>
                <mat-card-content class="padding-0-mat-card-content">
                    <app-timer [duration]="period.duration" [load]="load" [crono]="crono">
                    </app-timer>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="padb">
            <mat-card>
                <mat-card-content>
                    <app-periods [load]="load" [crono]="crono" [nextbet]="nextBet" [period]="period">
                    </app-periods>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="flexed">
            <div class="grow1 padbr">
                <mat-card>
                    <mat-card-content>
                        <app-montante label="Small Blind" [value]="period.bet.smallBlind" [crono]="crono"
                                      additionalStyle="highlight-content">
                        </app-montante>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="grow1">
                <mat-card>
                    <mat-card-content>
                        <app-montante label="Próximo Small Blind" [value]="nextBet.smallBlind" [crono]="crono">
                        </app-montante>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="flexed">
            <div class="grow1 padbr">
                <mat-card>
                    <mat-card-content>
                        big
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="grow1">
                <mat-card>
                    <mat-card-content>
                        next big
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="flexed">
            <div class="grow1 padbr">
                <mat-card>
                    <mat-card-content>
                        antes
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="grow1">
                <mat-card>
                    <mat-card-content>
                        next antes
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div class="flexed">
    <mat-card class="width100">
        <mat-card-content>
            <app-buttons [crono]="crono">
            </app-buttons>
        </mat-card-content>
    </mat-card>
</div>