.flexed {
    display: flex;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.grow1 {
    flex-grow: 1;
}

.column-flexed {
    display: flex;
    flex-direction: column;
}

.padb {
    padding-bottom: 10px;
}

.padbr {
    @extend .padb;
    padding-right: 10px;
}