@use 'app/themes/colors';

body {
    background-color: colors.$grey01;
    font-family: sans-serif;
}

.flexed {
    display: flex;
}

.centered-content {
    text-align: center;
}

.grow1 {
    flex-grow: 1;
}

.info-content {
  @extend .centered-content;
  font-size: 2.5em;
  font-weight: bold;
}

.highlight-content {
  color: colors.$red01;
}

.right-content {
  text-align: right;
}